/*
    Чтобы содержание касалось границ окна браузера, устанавливаем значения 
    свойств margin и padding для элементов  body и html в 0. Также задаем  
    цвет текста и фона.
*/
body,
html {
    margin: 0;
    padding: 0;
    color: #000;
    background: #a7a09a;
}

/*задание ширины и центрированием области содержания*/
/*
    Метод центрирования содержания основывается на факте, что при установке 
    для левого и правого полей элемента значений auto, они разделяют 
    оставшееся пространство после вычитания ширины элемента из ширины контейнера. 
    В данном случае ширина элемента #wrap будет вычитаться из ширины окна браузера.
*/

#wrap {
    width: 750px;
    margin: 0 auto;
    background: #99c;
}

/*задаем разным разделам разные фоновые цвета для выделения их на странице.*/


/* 
      Размещаем колонки рядом одна с другой

      Для размещения рядом колонок (#main и #sidebar) делаем их плавающими и смещаем одну влево, 
      а другую вправо. Также задаем ширину колонок.
  */

/*
      Задвигаем нижний колонтитул вниз

      Нижний колонтитул не становится на свое место потому, что продолжает действовать свойство float. 
      Когда элемент делается плавающим, он удаляется из общего потока документа и не сдвигает вниз другие элементы,
      которые следуют за ним. Поэтому элемент #footer начинается сразу ниже элемента #sidebar.
      Чтобы исправить положение, надо установить свойство clear для нижнего колонтитула, чтобы указать ему,
      что он не может иметь других элементов рядом.
  */

/*
      Устанавливаем фон для боковой колонки

      Теперь видно, что более короткая колонка не продляется до нижнего колонтитула. 
      Чтобы сделать внешний вид однообразным, установим одинаковые цвета фона для элементов #sidebar и #wrap.
      Если вы не знаете, какая колонка будет длиннее, а какая короче, 
      то придется воспользоваться одним из методов для установки цвета фона.
  */

/*
        Делаем навигационную панель горизонтальной

        Элемент #nav содержит обычный неупорядоченный список ссылок. Нам нужно изменить его внешний вид
    */

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav li {
    margin: 0;
    padding: 0;
}

/*
    Выравниваем поля, отступы, и добавляем совместимости с IE 6
    Почти готово. Нужно выровнять свойства margin и padding для некоторых элементов, чтобы сделать шаблон более приличным.
*/

#header {
    padding: 5px 10px;
    background: #ddd;
    background-image: url(../Images/c314a8711_1.jpg);
}

/* Запрет выделения текста */

h1, p, h2, h6, h3, h4, h5, span {
    cursor: default;
        /**
 * Для эксплорера
 */
-ms-user-select: none;

/**
 * Для мозилы
 */
-moz-user-select: none;

/**
 * Для Сафари и Хрома
 */
-webkit-user-select: none;
    }

h1 {
    margin: 0;
}

#nav {
    padding: 5px 10px;
    background: #c99;
}

#main {
    float: left;
    width: 480px;
    padding: 10px;
    background: #9c9;
    display: block
}

h2 {
    margin: 0 0 1em;
}

#sidebar {
    float: right;
    width: 230px;
    padding: 10px;
    background: #99c;
}

    #sidebar ul li a {
        color: darkorange;
        text-decoration: underline; /* underline */
        font-size: medium;
        font-style: oblique;
        cursor:pointer
    }


#footer {
    clear: both;
    padding: 5px 10px;
    background: #cc9;
    background-image: url(http://www.geeksucks.com/wp-content/uploads/1325.jpg);
}

    #footer p {
        margin: 0;
    }
